src/main/mule/cicd_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0bf467f-d044-48c1-9ef5-2669d68705c8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd_testFlow" doc:id="5885bacc-7534-4159-a38f-7ac2a564e691" >
		<http:listener doc:name="Listener" doc:id="1febc99f-6598-4d44-8e60-2665d187df35" config-ref="HTTP_Listener_config" path="CICD"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0c8fb38-f8a0-42ae-805d-e054d22a26eb" message='#["Hi..Logger before the payload"]'/>
		<set-payload value='#["Hi..Guys the CICD test is successful"]' doc:name="Set Payload" doc:id="10fad2a5-7fa0-44ed-b976-97358229072c" />
		<logger level="INFO" doc:name="Logger" doc:id="872efeba-4892-4159-b454-d22e8567eb0b" message='#["End Logger"]'/>
	</flow>
</mule>
